body {
    background-color: cadetblue;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(67, 90, 118)
}

p {
    font-family: 'Cambria', Times;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 300px;
}

div {
    margin-left: 10%;
    margin-right: 10%;
}

#prompic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#theyhitthepentagon {
    height: auto;
    width: auto;
}